/* Post */
.popular-post-items {
}
.popular-post-items li {
  list-style-type: none;
  height: 300px;
  background: #fff;
  width: 1000px;
}
.cardAction {
  width: 600px;
}
.last-post-title {
  padding: 20px;
}
.popular-post-title {
  padding: 20px;
  font-size: 23px;
  font-weight: 600;
}

/* Home.js */
/* Category Bar */
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: none;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
/* ------------ */
.popular-post {
  margin: 40px;
}
.read-more {
  padding-left: 20px;
}

/* Article real*/
.article-bar {
  width: 100%;
  height: 40px;
  background: rgba(248, 250, 249, 0.9);
  position: fixed;
  top: 0;
  box-shadow: 2px 4px 6px lightgrey;
  font-family: baskerville old face;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 30px;
  display: flex;
  justify-content: left;
  z-index: 10;
}
.post {
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0px;
  text-align: center;
  border: 1px;
  background: #fff;
  padding-top: 0px;
  margin-top: 0px;
}
.post img {
  width: 100%;
  height: 800px;
}
.post h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
}
#main {
  padding-top: 20px;
  width: 800px;
  margin: auto;
  font-size: 20px;
  padding-bottom: 50px;
  text-align: left;
}
/* New Post */
.image-new-post {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  float: left;
}
.image-new-post img {
  width: 100%;
  height: 100%;
}

/* Category */
.category-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
.Mainarticle {
  width: 100%;
}
.Mainarticle img {
  width: 100%;
  height: 700px;
}
.related-post {
  margin: auto;
  width: 100%;
  background: grey;
}
.related-post img {
  width: 98%;
  height: 50%;
  padding: 5px 5px 5px 5px;
}

/* Follow */
.follow {
  margin: auto;
  width: 800px;
  height: 200px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px grey;
  text-align: left;
  display: flex;
}
.follow strong {
  height: 30px;
  background: #fff;
}
.follow p {
  width: 500px;
  height: 100%;
}
.image {
  width: 130px;
  height: 100%;
  background: #fff;
  text-align: center;
}
.follow img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  padding: 10px;
}
.follow-button {
  width: 170px;
  display: flex;
  align-items: center;
}
.follow-button div {
  width: 100px;
  height: 40px;
  border: 2px solid rgba(3, 168, 150, 1);
  border-radius: 10px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  color: rgba(3, 168, 150, 1);
  font-size: 20px;
}
.follow-button div:hover {
  background: rgba(3, 168, 150, 1);
  color: #fff;
}
#counter {
  position: relative;
  left: 80px;
  top: 10px;
}
.share {
  position: relative;
  left: 500px;
  z-index: 4;
}
.share img {
  width: 25px;
  height: 25px;
  top: 0px;
}
