html {
  background: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 700px;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* form regitration / Start */
.signin {
  padding-top: 5px;
  padding-left: -5px;
  width: 500px;
  height: 460px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
}
.signup {
  padding-top: 5px;
  padding-left: -5px;
  width: 500px;
  height: 460px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
}
.sign {
  cursor: pointer;
}
#get-started button {
  background: rgba(3, 168, 124, 1);
  font-size: 20px;
  padding: 10px;
  margin-top: 6.5px;
  border-radius: 3px;
  color: #fff;
}
#get-started button:hover {
  background: rgba(3, 168, 150, 1);
}
.regist {
  margin: auto;
  margin-top: 70px;
  padding-top: 30px;
  background: #fff;
  background-size: 100% 100%;
}
.regist h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
.regist button {
  background: grey;
  border: none;
  width: 80%;
  height: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #fff;
}
.regist input {
  width: 80%;
  height: 25px;
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  outline: none;
  font-size: 20px;
}
.start-page {
  font-size: 45px;
  font-family: baskerville old face;
  text-align: center;
  display: flex;
  justify-content: center;
}
.start-page h1 {
  margin-top: 200px;
  width: 900px;
}

/* App.js */

.App {
  text-align: center;
}
.app-nav {
  position: fixed;
  background: rgb(300, 300, 300, 0.8);
  display: flex;
  height: 60px;
  width: 100%;
  clear: both;
  box-shadow: 0px 2px 10px lightgrey;
}
.app-nav h1 {
  position: relative;
  top: -17px;
  left: 40px;
  font-size: 33px;
  color: black;
  cursor: pointer;
  font-family: baskerville old face;
}
.start {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  font-family: verdana;
  font-weight: bold;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  left: 60%;
  cursor: default;
}
.nav-link button {
  background: transparent;
  border: none;
  font-size: 26px;
  margin-top: 13px;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:active {
  color: -webkit-link;
}

.konten {
  background: lightgrey;
  width: 1000px;
  height: 1000px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.konten h1 {
  text-align: center;
  line-height: 100px;
}

/* comment / response */
.response-button {
  border: 2px solid rgba(3, 168, 150, 1);
  border-radius: 10px;
  height: 80px;
  width: 800px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}
.response-button p {
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -135%);
}
#link-response {
  text-decoration: none;
  color: rgba(3, 168, 150, 1);
}
.response-button:hover {
  border: 2px solid aqua;
  color: aqua;
}

/* comment contain */
#comment-1 {
  height: 400px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment-1-title {
  font-family: verdana;
  font-size: 16px;
  z-index: 5;
  position: relative;
  left: 350px;
  top: 150px;
}
#comment-title {
  width: 700px;
  height: 100px;
  box-shadow: 0px 0px 4px grey;
}
#comment-title p {
  font-family: verdana;
  padding: 10px;
}
#comment-2 {
  width: 100%;
  height: 1000px;
  background: lightgrey;
  padding-top: 30px;
}
.comment-input {
  height: 150px;
  width: 700px;
  background: #fff;
  margin: auto;
  line-height: 10px;
  padding-top: 10px;
}
#comment-label {
  padding: 20px;
}
.comment-containt {
  position: relative;
  top: 100px;
  height: 200px;
  width: 700px;
  background: #fff;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
}
#bookmark {
  width: 20px;
  position: relative;
  left: 680px;
  top: 70px;
}
.comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  padding-right: 20px;
  padding-top: 20px;
}
/* main article */

.main-article {
  padding: 5px;
  margin: auto;
}
.new-post {
  width: 500px;
}
.new-article {
  height: 160px;
  margin-bottom: 10px;
  background: lightgrey;
  margin: 10px;
}
