html{
  background: url(https://images.idgesg.net/images/article/2019/02/iot_internet_of_things_lifestyle_connected_appliances_by_elenabs_gettyimages-1018211724_2400x1600-100788445-large.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 700px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* form regitration */
.signin{
  padding-top: 5px;
  padding-left: -5px;
  width: 500px;
  height: 460px;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
}
.signup{
  padding-top: 5px;
  padding-left: -5px;
  width: 500px;
  height: 500px;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
}
.regist{
  margin: auto;
  padding-top: 30px;
  background: #fff;
  background-size: 100% 100%;
}
.regist h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.regist {
  margin-top: 5px;
}
.regist button{
  background: grey;
  border: none;
  width: 80%;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #fff;
}
.regist input{
  width: 80%;
  height: 25px;
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  outline: none;
  font-size: 20px;
}

/* App.js */

.App {
  text-align: center;
}
.app-nav{
  background: #fff;
  display: flex;
  height: 60px;
  width:100%;
  clear: both;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.8);
}
.app-nav h1{
  position: relative;
  top: -17px;
  left: 20px;
  font-size: 33px;
  color: black;
  cursor: pointer;
  font-family: baskerville old face;
}
.start{
  text-decoration: none;
}
.nav-link{
  text-decoration: none;
  font-family: verdana;
  font-weight: bold;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  left: 60%;
}

.nav-link:hover{
  background: lightgrey;
}

.nav-link:active{
  color: -webkit-link;
}

.konten{
  background: lightgrey;
  width: 1000px;
  height: 1000px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.konten h1{
  text-align: center;
  line-height: 100px;
}

/* Home.js */
.title{
  color: black;
  font-family: baskerville old face;
  font-style: bold;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 20px;
}
.app-nav-home{
  margin-top: 50px;
  width: 97%;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 2px lightgrey;
  overflow: hidden;
  z-index: 100;
  margin: auto;
}
.nav-link-home{
  color: black;
  display: flex;
  align-items: center;
  float: left;
  text-decoration: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: verdana;
}
.nav-link-home:hover{
  background: aqua;
}
.popular-post{
  margin: 40px;
}

/* Post */
.popular-post-items{
}
.popular-post-items li{
  list-style-type: none;
  height: 300px;
  background: #fff;
  width: 1000px;
}
.cardAction{
  width:600px;
}
.last-post-title{
  padding: 20px;
}
.popular-post-title{
  padding: 20px;
}

/* Article */
.post{
  width: 95%;
  padding-bottom: 20px;
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
  box-shadow: 2px 2px 2px grey;
  border: 1px;
  background: #fff;
}
.post img{
  width: 1000px;
  height: 700px;
}
.konten{
  width: 100%;
  height: 100%;
  background: #fff;
}
.konten p{
  padding: 10px;
}
/* main article */

.main-article{
  padding: 10px;
  margin: auto;
}
.new-post{
  width: 500px;
  height: 500px;
}
.new-article{
  height: 180px;
}

/* Article */
.comments{
  margin: auto;
  width: 1000px;
  height: 200px;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 6px grey;
}

/* Category */
.category-container{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
.follow-claps{
  background: #fff;
  margin: auto;
  margin-bottom: 20px;
  width: 700px;
}
.claps{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.claps:hover{
  box-shadow: 0px 0px 5px 5px grey;
}
.claps img{
  width: 80%;
  height: 80%;
}
.Mainarticle{
  width: 100%;
}
.Mainarticle img{
  width: 100%;
  height: 700px;
}
.related-post{
  margin: auto;
  width: 100%;
  height: 600px;
  background: lightgrey;
}
.related-post img{
  width: 98%;
  height: 50%;
  padding: 5px 5px 5px 5px;
}