html {
  background: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 700px;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* form regitration / Start */
.signin {
  padding-top: 5px;
  padding-left: -5px;
  width: 500px;
  height: 460px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
}
.signup {
  padding-top: 5px;
  padding-left: -5px;
  width: 500px;
  height: 500px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
}
.sign {
  cursor: pointer;
}
#get-started button {
  background: rgba(3, 168, 124, 1);
  font-size: 20px;
  padding: 10px;
  margin-top: 6.5px;
  border-radius: 3px;
  color: #fff;
}
#get-started button:hover {
  background: rgba(3, 168, 150, 1);
}
.regist {
  margin: auto;
  margin-top: 70px;
  padding-top: 30px;
  background: #fff;
  background-size: 100% 100%;
}
.regist h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
.regist button {
  background: grey;
  border: none;
  width: 80%;
  height: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #fff;
}
.regist input {
  width: 80%;
  height: 25px;
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  outline: none;
  font-size: 20px;
}
.start-page {
  font-size: 45px;
  font-family: baskerville old face;
  text-align: center;
  display: flex;
  justify-content: center;
}
.start-page h1 {
  margin-top: 200px;
  width: 900px;
}

.modalStart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paperStart {
  /* backgroundColor: theme.palette.background.paper, */
  border: 2px solid #000;
  box-shadow: none;
  /* padding: theme.spacing(2, 4, 3) */
}

/* App.js */

.App {
  text-align: center;
}
.app-nav {
  position: fixed;
  background: rgb(300, 300, 300, 0.8);
  display: flex;
  height: 60px;
  width: 100%;
  clear: both;
  box-shadow: 0px 2px 10px lightgrey;
}
.app-nav h1 {
  position: relative;
  top: -17px;
  left: 40px;
  font-size: 33px;
  color: black;
  cursor: pointer;
  font-family: baskerville old face;
}
.start {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  font-family: verdana;
  font-weight: bold;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  left: 60%;
  cursor: default;
}
.nav-link button {
  background: transparent;
  border: none;
  font-size: 26px;
  margin-top: 13px;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:active {
  color: -webkit-link;
}

.konten {
  background: lightgrey;
  width: 1000px;
  height: 1000px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.konten h1 {
  text-align: center;
  line-height: 100px;
}

/* comment / response */
.response-button {
  border: 2px solid rgba(3, 168, 150, 1);
  border-radius: 10px;
  height: 80px;
  width: 800px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}
.response-button p {
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -135%);
}
#link-response {
  text-decoration: none;
  color: rgba(3, 168, 150, 1);
}
.response-button:hover {
  border: 2px solid aqua;
  color: aqua;
}

/* main article */
.top-main-article {
  border-bottom: 1px solid lightgrey;
  width: 800px;
}
.main-article {
  padding: 5px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: none;
}
.new-post {
  width: 500px;
  box-shadow: none;
}
.new-article {
  height: 140px;
  margin: 5px;
}
